<section id="footer">
<div class="container">
    <div class="row my-5">
        <div class="col-md-4">
            <h1>Techronik </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, odio?</p>
        </div>
        <div class="col-md-4">
            <h1>Info</h1>
             <ul class="list-unstyled">
                 <li>home</li>
                 <li>about</li>
                 <li>contact</li>
                 <li>privacy</li>
                 <li>policy</li>
             </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</section>